body {
  font-family: sans-serif;
}

a {
  text-decoration: none;
}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 1em;
}

form div {
  margin: 1em;
  display: inline-block;
}
#home-container {
  height: 1000px;
  display: flex;
  justify-content: flex-end;
  align-items: 'center';
}
