body {
  font-family: sans-serif;
}

a {
  text-decoration: none;
}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 1em;
}

form div {
  margin: 1em;
  display: inline-block;
}
.info-box {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: auto;
}
.info {
  padding-left: 5px;
}

#home-container {
  height: 1000px;
  display: flex;
  justify-content: flex-end;
  align-items: 'center';
}
#contract-page {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
